In [3]:
import pandas as pd
import numpy as np

# 1Ô∏è‚É£ Load the Titanic dataset (update the file path if needed)
df = pd.read_csv("Titanic-Dataset.csv")  # or "week8_cleaning/titanic.csv" if inside folder
print("‚úÖ Original Data Loaded Successfully!")
print(df.head())

‚úÖ Original Data Loaded Successfully!
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [4]:
# 2Ô∏è‚É£ Check for missing values
print("\nüîç Missing values before cleaning:\n", df.isnull().sum())

üîç Missing values before cleaning:
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [10]:
# 3Ô∏è‚É£ Fill missing numeric values with mean (example: Age, Fare)
numeric_cols = df.select_dtypes(include=[np.number]).columns
for col in numeric_cols:
    df[col] = df[col].fillna(df[col].mean())

In [11]:
# 4Ô∏è‚É£ Drop duplicate rows
before_drop = df.shape[0]
df.drop_duplicates(inplace=True)
after_drop = df.shape[0]
print(f"\nüß∫ Removed {before_drop - after_drop} duplicate rows")

üß∫ Removed 0 duplicate rows

In [12]:
# 5Ô∏è‚É£ Convert ‚ÄòAge‚Äô column to integer (if exists)
if 'Age' in df.columns:
    df['Age'] = df['Age'].astype(int, errors='ignore')
    print("‚úÖ Converted Age column to integer")

‚úÖ Converted Age column to integer

In [9]:
# 6Ô∏è Verify data types after cleaning
print("\nüìä Data types after cleaning:\n", df.dtypes)

üìä Data types after cleaning:
 PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age              int64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [15]:
# 7 Save cleaned data
import os
os.makedirs("week8_cleaning", exist_ok=True)
df.to_csv("week8_cleaning/cleaned_titanic.csv", index=False)
print("\nüíæ Cleaned dataset saved successfully at 'week8_cleaning/cleaned_titanic.csv'")

üíæ Cleaned dataset saved successfully at 'week8_cleaning/cleaned_titanic.csv'